@media(min-width:700px){

  .container-1{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  
  .container-2{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

}

.container-1 div, .container-2 div, .container-3 div{
  border: 1px solid #4d444d;
  padding: 10px;

}

.container1-box{
  flex-basis: 27%;
}

.ccontainer2-box{
  flex-basis: 27%;
}

