#selected {
  border: 1px solid black;
  width: 240px;
  height: 50px;
  background-color: rgb(9, 99, 184);
  color: gray;
  font-size: 25px;

}

option {
  width: 240px;
  height: 50px;
  background-color: #fff;
  font-size: 25px;
  color: gray;
}